# Variables de entorno
.env
.env.*
!.env.example

# Caché de Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
.venv/
env/

# Archivos subidos por usuarios
uploads/

# Angular / Node
node_modules/
dist/
.angular/

# Editores
.vscode/
.idea/