Back-End/.env

Back-End/__pycache__/auth.cpython-314.pyc
Back-End/__pycache__/database.cpython-314.pyc
Back-End/__pycache__/main.cpython-314.pyc
Back-End/__pycache__/models.cpython-314.pyc
Back-End/__pycache__/schemas.cpython-314.pyc
Back-End/__pycache__/websocket.cpython-314.pyc
Back-End/routers/__pycache__/ai.cpython-314.pyc
Back-End/routers/__pycache__/mensajes.cpython-314.pyc
Back-End/routers/__pycache__/proyectos.cpython-314.pyc
Back-End/routers/__pycache__/tareas.cpython-314.pyc
Back-End/routers/__pycache__/usuarios.cpython-314.pyc
Back-End/__pycache__/database.cpython-314.pyc
